/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*::selection{
    background-color: white
}

body {
    font-family: 'Poppins', sans-serif;
}

body[theme="dark"]{
    background-color: black;    
}
body[theme="dark"] .section{
    color:white
}

body[theme="cyan"]{
    background-color: rgb(30, 181, 223);    
}
body[theme="cyan"] .section{
    color: rgb(255, 255, 255);    
}

body[theme="salmon"]{
    background-color: #EF9D71
}
body[theme="salmon"] .section{
    color: #121212,
}


body[theme="light"]{
    background-color: rgb(255, 255, 255)
}
body[theme="light"] .section{
    color: rgb(0, 0, 0)
}


body[theme="cyan"] button {
  background-color: lightcyan;
  color: #242424;

}

body[theme="cyan"] a::before,
body[theme="cyan"] a::after {
  background-color: rgb(66, 236, 236);
}


a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }
  
  a::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: black;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }
  
  a:hover::before {
    transform: scaleY(0);
  }
  
  a::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: black;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
  }
  
  a:hover::after {
    transform: scaleX(0);
  }
  
  a span {
    position: relative;
    z-index: 3;
  }
 

  ::-webkit-scrollbar {
    width: 4px; 
  }
  
  ::-webkit-scrollbar-track {
    background: black; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #363636;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #606060
  }

